<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout-static::head}">
    <meta charset="UTF-8">
    <title>Servicio</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/servicio/formservicio.js}" type="text/javascript"></script>
<!--
<nav th:replace="layout::menu"></nav>
-->
<nav th:replace="~{layout-static::menu}"></nav>

<div id="layoutSidenav">

    <div th:replace="~{layout-static::menu2}"></div>

    <div id="layoutSidenav_content">
        <main>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Mantenimiento de Servicios</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Mantenimiento</li>
                    <li class="breadcrumb-item active">Servicio</li>
                </ol>
                <button id="btnagregar" type="button" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> Agregar</button>
                <hr>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Productos
                    </div>
                    <div class="card-body">
                        <div id="divmensaje"></div>
                        <table id="tblservicio" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="servicio : ${listservicio}">
                                <td th:text="${servicio.codigoservicio}"></td>
                                <td th:text="${servicio.nombreservicio}"></td>
                                <td th:text="${servicio.precio}"></td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm btnactualizar"
                                            th:data-serviciocod="${servicio.codigoservicio}"
                                            th:data-servicioname="${servicio.nombreservicio}"
                                            th:data-servicioprecio="${servicio.precio}">
                                        <i class="bi bi-pencil-square"></i> Actualizar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    <!-- Modal registro y actualización de servicio -->
    <div class="modal fade" id="modalservicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Servicio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtnombreservicio"
                               placeholder="name@example.com">
                        <label for="txtnombreservicio">Ingrese nombre del Servicio</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="txtprecioservicio"
                               placeholder="Ingrese el precio del servicio">
                        <label for="txtprecioservicio">Ingrese precio del Servicio</label>
                        <input type="hidden" id="hddidservicio" value="0">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        </main>
        <footer th:replace="~{layout::footer}"></footer>
    </div>
</div>
</body>
</html>