<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout-static::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/seguridad/formpassword.js}" type="text/javascript"></script>
<nav th:replace="~{layout-static::menu}"></nav>

<div id="layoutSidenav">
    <div th:replace="~{layout-static::menu2}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Cambio de Contraseña</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Usuario</li>
                    <li class="breadcrumb-item active">Constraseña</li>
                    <input type="hidden" id="hddidusuario" value="${session.nomusuario}">
                </ol>

                <!--DATOS USUARIO EN SESION-->
                <input type="hidden" id="id_usuario_id" th:value="${session.id}" class="form-control" readonly="readonly" />
                <input type="hidden" id="id_usuario_nombre" th:value="${session.nomusuario}" class="form-control" readonly="readonly" />


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Contraseña
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="password1" class="form-label">Ingresa contraseña actual</label>
                            <input type="text" class="form-control" id="password1" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Ingresa contraseña nueva</label>
                            <input type="text" class="form-control" id="password2" placeholder="password">
                        </div>
                        <div class="mb-3">
                            <label for="password3" class="form-label">Confirma contraseña nueva</label>
                            <input type="text" class="form-control" id="password3" placeholder="password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnguardar"
                                    th:data-usuid="${session.idusuario}">Guardar</button>
                        </div>
                        <input type="hidden" id="hddnomusuario" value="0">
                    </div>
                </div>
            </div>

        </main>
        <footer th:replace="~{layout::footer}"></footer>
    </div>
</div>
</body>
</html>