<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{layout-static::head}">
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<script th:src="@{/js/web/backoffice/producto/formproducto.js}" type="text/javascript"></script>
<!--
<nav th:replace="layout::menu"></nav>
-->
<nav th:replace="~{layout-static::menu}"></nav>

<div id="layoutSidenav">

    <div th:replace="~{layout-static::menu2}"></div>

<div id="layoutSidenav_content">
<main>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Mantenimiento de Productos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Mantenimiento</li>
            <li class="breadcrumb-item active">Producto</li>
        </ol>
        <button id="btnagregar" type="button" class="btn btn-primary">
            <i class="bi bi-plus-square"></i> Agregar</button>
    <hr>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Productos
        </div>
        <div class="card-body">
            <table id="tblproducto" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre de Producto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actualizar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.codigoproducto}"></td>
                    <td th:text="${producto.nombreproducto}"></td>
                    <td th:text="${producto.categoria.nombrecategoria}"></td>
                    <td th:text="${producto.marca}"></td>
                    <td th:text="${producto.especie.descripcion}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.stock}"></td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm btnactualizar"
                                th:data-prodcod="${producto.codigoproducto}"
                                th:data-prodnom="${producto.nombreproducto}"
                                th:data-prodcateg="${producto.categoria.codigocategoria}"
                                th:data-prodmarca="${producto.marca}"
                                th:data-prodespe="${producto.especie.codigoespecie}"
                                th:data-prodprecio="${producto.precio}"
                                th:data-prodstock="${producto.stock}">
                            <i class="bi bi-pencil-square"></i> Actualizar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal registro y actualización de producto -->
    <div class="modal fade" id="modalproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtnomproduct"
                               placeholder="name@example.com">
                        <label for="txtnomproduct">Ingrese nombre del producto</label>
                    </div>
                    <div class="mb-3">
                        <label for="cbocategory" class="form-label">Seleccione Categoría</label>
                        <select id="cbocategory" class="form-select" ></select>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtmarca"
                               placeholder="00.0">
                        <label for="txtmarca">Ingrese la marca del producto</label>
                    </div>
                    <div class="mb-3">
                        <label for="cboespecie" class="form-label">Seleccione Especie</label>
                        <select id="cboespecie" class="form-select"></select>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="txtprecio"
                               placeholder="0">
                        <label for="txtprecio">Ingrese precio del producto</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="txtstock"
                               placeholder="0">
                        <label for="txtstock">Ingrese stock del producto</label>
                    </div>
                    <input type="hidden" id="hddprodcod" value="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    </div>

</main>
        <footer th:replace="~{layout::footer}"></footer>
</div>
</div>

</body>
</html>